:root {
    --blue: #007bff;
    --primary: #3f51b5;
    --secondary: #6c757d;
    --light: #f8f9fa;
}

body {
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif
}

/*header del formulario*/
#header_login {
    background-color: #3f51b5 !important;
    padding: 0px !important;
    position: auto;
}

h1, h2, p {
    font-family: Arial, Helvetica, sans-serif
}

form {
    background-color: var(--light);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.no-border {
    border: none;
    outline: none; /*eliminar el borde de enfoque */
    background-color: transparent; /*fondo transparente */
    font-size: 16px; /* Ajusta el tamaño del texto si es necesario */
    cursor: pointer;
}

/*simulacion del login*/
button:hover {
    background-color: darken(var(--blue), 10%);
}

.separador-login {
    position: relative;
    height: 20px;
}

.separador-login::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #c5c5c5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 0;
}

.separador-login::after {
    content: "o";
    display: block;
    position: absolute;
    padding: 0 10px;
    background: var(--light);
    color: #888888;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.separador-login {
    position: relative;
    height: 20px;
}

.loader{
    border: 8px solid white;
    border-top: 8px solid var(--blue);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform:  rotate(360deg);
    }
}

/* Barra superior fija con margen para el menú lateral */
.navbar {
    display: flex;
    align-items: left;
    left: 305px;
    position: fixed;
    padding-left: 50px; 
    font-family: "Arial";
    font-size: 20px;
    line-height: 1;
    letter-spacing: .02em;
    width: 100%; 
    background-color: #3f51b5 !important;
    color: white;
    height: 56px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0.15, 0.25);
    transition: left 0.3s ease-in-out, width 0.3s ease-in-out;
}

.full-width header {
    width: 100%;
}

.full-width .navbar {
    left: 0;
    width: 100%;
}

.full-width .section {
    left: 0;
    width: 100%;
}

.section {
    transition: margin-left 0.3s ease-in-out;
}

.full-width {
    margin-left: 0 !important;
    width: 100%;
}

/* Menú lateral fijo */
#sidebarMenu button {
    font-size: 16px;
    line-height: 24px; /* Tamaño de fuente ajustado para los botones */
    color: var(--color-texto);
    background: none; /* Elimina el fondo predeterminado */
    border: 0; /* Elimina el borde */
    width: 100%; /* Ocupa todo el ancho del contenedor */
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 0.25rem;
    margin: 0.2rem 0; /* Espaciado entre elementos */
    cursor: pointer; /* Cambia el cursor al estilo de botón */
}

#sbm_b{
    font-size: 26px;
}

#sidebarMenu {
    background-color: #f8f9fa;
    color: var(--color-texto);
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 305px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0.15, 0.25);
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
}

#sidebarMenu.hidden {
    transform: translateX(-100%);
}

#ocultarsidebar {
    margin-right: auto;
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}

/* Estilo de los botones del menú lateral */
#sidebarMenu button:hover {
    background-color: var(--color-hover);
}

#sidebarMenu a {
font-size: 15px;

}

h4{
    font-size: 16px;
}

/*HORARIO DE CLASE*/
/*boton descarga pdf*/
#Horario_button {
    background-color: red;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
    top: 15px;
}

#Horario_clase{
    position: absolute;
    width: 80%;
    left: 345px;
    top: 90px;
}

/* Ajustes generales para tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td, tr{
    padding: 0px;
    text-align: center;
    font-size: 18px;
    width: 100px !important;
    height: 40px !important;      
}

td:not(:empty) {
    background-color: #e0f7fa; /* Color de fondo para celdas no vacías */
    color: #00796b; /* Color de texto */
}

th {
    background-color: #f2f2f2;
    width: 100px;
    font-size: 20px;
}

#info_docente{
    position:fixed ;
    top: 95px !important;
    left: 345px;
    width: 80%;
    height: 85%;
}

/* INFO DOCENTE*/
.profile-container {
    background-color: white;
    padding: 45px;
}

.profile-header {
    justify-content: space-between;
    border-bottom: 2px solid #ddd;
    padding-bottom: 15px;
    display: flex;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 20%;
    margin: 5px;
    
}

.profile-info{
    position: fixed;
    left: 550px;
}

.profile-info h2 {
    font-size: 30px;
    padding-left: 10px;
    text-align: left;
}

.profile-info p {
    margin: 5px 0 0;
    font-size: 20px;
    padding-left: 10px;
    text-align: left;
}

.profile-actions .btn {
    margin-top: 15px !important;
    border-spacing : 15px;
    background-color: #fafafa;
    color: #000000;
    border-radius: 5px;
    cursor: pointer;
    border-color: #d6d0d0;
}

.profile-actions .btn:hover {
    background-color: #d0d2d4;
}

.tab-content form{
    background-color: white;
    border: none;
    border-radius: 0%;
    box-shadow: none;
}

.row {   
    justify-content: space-between;
    margin-bottom: 0px;
}

.col {
    flex-basis: 10%;
}

label {
    display: block;
    margin-bottom: 0px;
}

input, select {
    width: 10%;
    padding: 80px;
    border: 1px solid #ddd;
    border-radius: 0px;
}

/*Asistencia docente*/
#asistencia_d{
    position: absolute;
    width: 100%px;
    height: 100%;
    left: 350px;
    top: 130px;
}

#btn-asis-alum{
    background-color: orange;
    font-size: 16px;
}

.header_asis {
    position: fixed;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    width: 15%;
    padding: 0px;
    border-radius: 8px;
    text-align: left;
    margin-bottom: 20px;
}

.header label {
    font-weight: bold;
    margin-right: 0px;
}

#asistencia_d p {
    font-size: 20px;
    margin-top: 0px;
    /*position: absolute;*/
    top: 95px;
}

.buttons-container {
    margin-bottom: 5px;
    top: 100px;
}

.buttons-container button {
    margin: 5px;
    font-size: 14px;
    padding: 8px 12px;
}

.accordion-button {
    font-weight: bold;
    background-color: #0056b3;
}

.accordion-body {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
}

.report-table {
    text-align: center;
}

.report-table th {
    background-color: #007bff;
    color: white;
    text-transform: uppercase;
}

.report-table td {
    background-color: #f8f9fa;
}

.report-table td.bg-success {
    background-color: #28a745 !important;
}