:root {
    --blue: #007bff;
    --primary: #3f51b5;
    --secondary: #6c757d;
    --light: #f8f9fa;
}
body {
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif
}
header {
    background-color: #3f51b5 !important;
}
h1, h2, p {
    font-family: Arial, Helvetica, sans-serif
}
form {
    background-color: var(--light);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.no-border {
    border: none;
    outline: none; /*eliminar el borde de enfoque */
    background-color: transparent; /*fondo transparente */
    padding: 10px 20px; /* Ajusta el espacio interno si es necesario */
    font-size: 16px; /* Ajusta el tamaño del texto si es necesario */
    cursor: pointer;
}

#Horario_button {
    background-color: red;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: darken(var(--blue), 10%);
}

.separador-login {
    position: relative;
    height: 20px;
}

.separador-login::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #c5c5c5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 0;
}

.separador-login::after {
    content: "o";
    display: block;
    position: absolute;
    padding: 0 10px;
    background: var(--light);
    color: #888888;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.separador-login {
    position: relative;
    height: 20px;
}

/* Barra superior fija con margen para el menú lateral */
header .navbar {
    text-align: left;
    display: block;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 20px;
    line-height: 1;
    letter-spacing: .02em;
    font-weight: 400;
    box-sizing: border-box;
    left: 317px;
    width: 90%;
    z-index: 1030;
    background-color: #3f51b5 !important;
    color: white;
    height: 56px;
    display: flex;
    align-items: center;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0.15, 0.25);

}
/* Menú lateral fijo */
#sbm_b{
    font-size: 26px;
}

#sidebarMenu {
    background-color: #f8f9fa;
    color: var(--color-texto);
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 309px;
    z-index: 1020;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0.15, 0.25);
    padding-top: 0px !important;
}
/* Estilo de los botones del menú lateral */
#sidebarMenu button {
    font-size: 16px;
    line-height: 24px; /* Tamaño de fuente ajustado para los botones */
    color: var(--color-texto);
    background: none; /* Elimina el fondo predeterminado */
    border: 2.5; /* Elimina el borde */
    text-align: left; /* Alineación del texto */
    width: 100%; /* Ocupa todo el ancho del contenedor */
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 0.25rem;
    margin: 0.2rem 0; /* Espaciado entre elementos */
    cursor: pointer; /* Cambia el cursor al estilo de botón */
}

#sidebarMenu button:hover {
    background-color: var(--color-hover);
}

#sidebarMenu a {
font-size: 15px;

}
h4{
    font-size: 16px;
}
/* Contenido principal con margen ajustado */
main {
    margin-left: 317px;
    background-color: white;
}

/* Ajustes generales para tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 15px 0;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td, tr{
    padding: 6px;
    text-align: center;
    font-size: 16px;
    
}

td:not(:empty) {
    background-color: #e0f7fa; /* Color de fondo para celdas no vacías */
    color: #00796b; /* Color de texto */
}

th {
    background-color: #f2f2f2;
    width: 100px;
    font-size: 20px;
}

#tdh {
    width: 15px !important;
    height: 20px !important;    
}

#Horario_clase{
    width: 1500px; /*ancho*/
    height: fixed; /*alto*/
    padding-left: 20px;

}



/*.mdl-typography--caption{
    font-size: 11px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0;
}
*/
